.detail__background {
  z-index: -1;
  position: fixed;
  top: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.detail__grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr;
  padding: 50px 100px;
  place-items: center center;
}

.detail__poster {
  object-position: center center;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.detail__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px 50px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.detail__title {
  font-size: 5em;
}
.detail__summary {
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: justify;
}
