.movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 100vh;
  gap: 2px;
}

.movie {
  background-color: var(--main--bg--color);
  display: flex;
  flex-direction: column;
  transition: all 0.1s linear;
}

.movie:hover {
  cursor: pointer;
  background-color: var(--sub--bg--color);
  color: var(--main--bg--color);
  font-style: italic;
}

.movie img {
  height: 66vh;
  object-fit: cover;
}

.movie__data {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  gap: 20px;
}

.movie__summary {
  text-align: justify;
  line-height: 1.2;
}

.movie__genres {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.genres__genre {
  border: 1px var(--sub--bg--color) solid;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 14px;
}
